.gradle
/build/

# Ignore Gradle GUI config
gradle-app.setting

# Ignore gradle files (can be reproduced)
gradle
gradlew
gradlew.bat

# Ignore IDEA

# Ignore IDEA
.idea
*.iml

# Cache of project
.gradletasknamecache

# # Work around https://youtrack.jetbrains.com/issue/IDEA-116898
# gradle/wrapper/gradle-wrapper.properties

# Ignore Gradle build output directory
build
